body {
	margin:0;
	padding:0;
	background-color: #333;
}


#main {
	height:100vh;
	width:100vw;
	border-left:2px solid white;
	border-bottom:2px solid white;
}

.entity {
	height:2rem;
	width:2rem;
	position:absolute;
	top:150px;
	left:200px;
	background-color: white;
	border-radius:10%;
}

.enemy {
	height:2rem;
	width:2rem;
	position: absolute;
	top:100px;
	left:100px;
	background-color: #900C3F;

}


.blob {
	/*
	height:20px;
	width:20px;
	*/
	background-color:pink;
	border-radius:50%;
	position:absolute;
	display:inline-block;
}




#points {
	margin-right:1rem;
	margin-bottom:1rem;
}




#lose_page {
	display:none;
}